{% extends "base.html" %}
{% block content %}

    <h3>EVENTOS E NOTÍCIAS</h3>

        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Data</th>
                    <th>Evento</th>
                </tr>
            </thead>
                <tr>
                    <td>08/11 a 12/11/2021</td>
                    <td>Prova Brasil</td>
                </tr>
                <tr>
                    <td>12/11/2021</td>
                    <td>Feira de Ciência</td>
                </tr>
                <tr>
                    <td>17/11/2021</td>
                    <td>Novembro Negro</td>
                </tr>
        </table>

{% endblock %}