{% extends 'base.html' %}

{% block content %}

<h3>{% block title %} AMAMENTAÇÃO / ALIMENTAÇÃO {% endblock %}</h3>

    <p><label_aluno> NOME DO ALUNO:</label_aluno>   <detalhe_aluno>{{ detalhe_aluno['nome_aluno'] }}</detalhe_aluno></p>
    <p><label_aluno> RA DO ALUNO:</label_aluno>         <detalhe_aluno>{{ detalhe_aluno['ra'] }}</detalhe_aluno></p>
    <p><label_aluno>DATA DE NASCIMENTO:</label_aluno>  <detalhe_aluno>{{ detalhe_aluno['nascimento'] }}</detalhe_aluno> </p>
    <p><label_aluno>SÉRIE:</label_aluno>               <detalhe_aluno>{{ detalhe_aluno['num_ser'] }} </detalhe_aluno></p>
    <p><label_aluno>TURMA:</label_aluno>              <detalhe_aluno>{{ detalhe_aluno['turma'] }} </detalhe_aluno></p>
<br>
<br>

<form method="post">
    <div class="form-group">
        <label for="al_amamentou">Amamentou?</label>
        <input type="text" name="al_amamentou" placeholder="" class="form-control" value="{{request.form['al_amamentou'] }}"></input>
    </div>
    <div class="form-group">
        <label for="al_restricao">Tem alguma restrição alimentar?</label>
        <input type="text" name="al_restricao" placeholder="" class="form-control" value="{{request.form['al_restricao'] }}"></input>
    </div>
    <div class="form-group">
        <label for="al_quais">Quais?</label>
        <input type="text" name="al_quais" placeholder="" class="form-control" value="{{request.form['al_quais'] }}"></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Próxima</button>
    </div>
</form>

{% endblock %}
